<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
>
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
  <style></style>
</head>
<body>
   <div th:fragment="header">
   <!--Main Navigation-->
  <header class="mb-4 fixed-top">
    <!-- Jumbotron -->
    <div class="p-3 text-center bg-transparent" style="backdrop-filter: blur(50px)">
      <div class="container-fluid">
        <div class="row">
          <!-- Right elements -->
          <div
            class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
            <h3><a href="/home" class="text-reset text-decoration-none d-flex flex-row gap-2"><i class="fa-brands fa-phoenix-squadron"></i>Planny</a></h3>
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
                aria-expanded="false" style="padding-top: 10px; padding-bottom: 10px;">
                Các không gian làm việc
              </button>
             <ul class="dropdown-menu" aria-labelledby="workspaceDropdown">
    <li><a class="dropdown-item " href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
       <li><a class="dropdown-item" href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
                   <li><a class="dropdown-item" href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
  </ul>
            </div>
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown"
                aria-expanded="false" style="opacity: 0.9;font-size: 17px;">
                Gần đây
              </button>
             <ul class="dropdown-menu" aria-labelledby="workspaceDropdown">
    <li><a class="dropdown-item " href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
       <li><a class="dropdown-item" href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
                   <li><a class="dropdown-item" href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
  </ul>
            </div>

            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton3" data-bs-toggle="dropdown"
                aria-expanded="false" style="opacity: 0.9;font-size: 17px;">
                Đã đánh dấu sao
              </button>
              <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="dropdownMenuButton3">
                <li><a class="dropdown-item active" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
                <li><a class="dropdown-item" href="#">Separated link</a></li>
              </ul>
            </div>
            <div class="dropdown">
              <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton4" data-bs-toggle="dropdown"
                aria-expanded="false" style="opacity: 0.9;font-size: 17px;">
                Mẫu
              </button>
             <ul class="dropdown-menu " aria-labelledby="workspaceDropdown" >
    <li><a class="dropdown-item " href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
       <li><a class="dropdown-item" href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
                   <li><a class="dropdown-item" href="#">
        <img src="https://trello-backgrounds.s3.amazonaws.com/SharedBackground/480x320/109110a39fca9ca569ce38c695dbc7b0/photo-1512314889357-e157c22f938d.jpg" alt="Các Không gian làm việc" width="40" height="40" class="me-2 ro" style="border-radius: 20%">
      Dự Án 1 - StarBucks</a></li>
  </ul>
            </div>
            <div class="dropdown">
              <button  class="btn btn-primary  dropdown-toggle addTaoMoi" type="button"
                id="dropdownMenuButton5" aria-expanded="false" style="opacity: 0.9;font-size: 17px;">Tạo mới</button>
            </div>
          </div>
          <div class="col-lg-7 d-flex justify-content-center justify-content-md-end align-items-center">
            <form class="d-flex input-group w-auto mb-md-0 px-3">
              <input autocomplete="off" type="search" class="form-control" placeholder="Search" />
              <span class="input-group-text border-0 d-none d-lg-flex"><i class="fas fa-search"></i></span>
            </form>
            <i class="fas fa-bell px-3" style="font-size: 24px"></i>
            <a class="text-reset mr-3 px-3" href="#">
              <i class="fas fa-info-circle" style="font-size: 24px"></i>
            </a>
            <a href="/login" class="text-reset px-3">
              <i class="fas fa-user" style="font-size: 24px" data-bs-toggle="popover" title="Popover Title"
                 data-bs-content="This is the content of the popover."></i>
            </a>
          </div>
        </div>
        <!-- Right elements -->
      </div>
    </div>
    <!-- Jumbotron -->
  </header>
  <!--Main Navigation-->
</div>
</body>
</html>
