<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.all.min.js"></script>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Font Awesome -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <!-- Google Fonts Roboto -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap"/>
</head>
<body>
<div th:fragment="header">
    <!--Main Navigation-->
    <header class="mb-4 fixed-top">
        <!-- Jumbotron -->
        <div class="p-3 text-center bg-transparent" style="backdrop-filter: blur(50px)">
            <div class="container-fluid">
                <div class="row">
                    <!-- Right elements -->
                    <div class="col-md-5 d-flex justify-content-center justify-content-md-start align-items-center d-none d-lg-flex">
                        <h3><a href="/home" class="text-reset text-decoration-none d-flex flex-row gap-2"><i
                                class="fa-brands fa-phoenix-squadron"></i>Planny</a></h3>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle ms-3" type="button" id="dropdownMenuButton1"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="padding-top: 10px; padding-bottom: 10px;">
                                Các không gian làm việc
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="workspaceDropdown" id="workspaceDropdownMenu">
                            </ul>
                        </div>
                        <div class="dropdown">
                            <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton6"
                                    data-bs-toggle="dropdown" aria-expanded="false"
                                    style="opacity: 0.9; font-size: 17px;">
                                Tạo mới
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="workspaceDropdown">
                                <li>
                                    <button class="btn addTaoMoi dropdown-item" type="button" id="btnCreateList">
                                        Tạo danh sách
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#exampleModal">
                                        Tạo không gian làm việc
                                    </button>
                                </li>
                                <li>
                                    <button type="button" class="btn dropdown-item" data-bs-toggle="modal"
                                            data-bs-target="#staticBackdrop">
                                        Tạo bảng
                                    </button>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- Modal -->
                    <div class="col-lg-7 d-flex justify-content-center justify-content-md-end align-items-center">
                        <form class="d-flex input-group w-auto mb-md-0 px-3">
                            <input autocomplete="off" type="search" class="form-control" placeholder="Search"/>
                            <span class="input-group-text border-0 d-none d-lg-flex"><i
                                    class="fas fa-search"></i></span>
                        </form>
                        <i class="fas fa-bell px-3" style="font-size: 24px"></i>
                        <a class="text-reset mr-3 px-3" href="#">
                            <i class="fas fa-info-circle" style="font-size: 24px"></i>
                        </a>
<!--                        <a href="/login" class="text-reset px-3">-->
<!--                            <i class="fas fa-user" style="font-size: 24px" data-bs-toggle="popover" title="Popover Title" data-bs-content="This is the content of the popover."></i>-->
<!--                        </a>-->
                        <div class="dropdown">
                            <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButtonUser"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false" style="opacity: 0.9;font-size: 17px;">
                                <i class="fas fa-user" style="font-size: 24px" data-bs-toggle="popover" title="Popover Title" data-bs-content="This is the content of the popover."></i>
                            </button>
                            <ul class="dropdown-menu " aria-labelledby="workspaceDropdown">
                                <li>
                                    <a class="dropdown-item " href="/doimatkhau">
                                        Đổi mật khẩu
                                    </a>
                                </li>
                                <li>
                                    <a class="dropdown-item" id="logout" href="#">
                                        Đăng xuất
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- Right elements -->
            </div>
        </div>
        <!-- Jumbotron -->
    </header>
    <!--Main Navigation-->
</div>
<script th:src="@{/user/js/logout.js}"></script>
</body>
</html>
