
          <div th:fragment="sidebar" class="col-md-2">

            <span class="btn" style="width: 100%;background-color: #CDE8E5 ">Bảng</span>
            <span class="btn btn-light" style="width: 100%;">Mẫu</span>
            <span class="btn btn-light" style="width: 100%;">Home</span>
            <hr class="custom-hr">

            <h5 class="mb-2">Workspace</h5>

            <div class="accordion accordion-flush mt-2" id="accordionFlushExample">
              <div class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne"
                    style="background-color:rgb(133, 184, 255);">
                    <h6> <i class="fa fa-users me-2" aria-hidden="true"></i>Team</h6>
                  </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;"><i class="fa fa-address-card me-2"
                        aria-hidden="true"></i>Board</a>
                  </div>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;"><i class="fa fa-star me-2"
                        aria-hidden="true"></i>Highlights</a>
                  </div>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="/workspace" class="" style="text-decoration: none; color: black;"><i class="fa fa-eye me-2"
                        aria-hidden="true"></i>Views</a>
                  </div>
                </div>
                <div id="flush-collapseOne" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;"><i class="fa fa-user me-2"
                        aria-hidden="true"></i>Member</a>
                  </div>
                </div>

                <div id="flush-collapseOne" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;"><i class="fa fa-cogs me-2"
                        aria-hidden="true"></i>Setting</a>
                  </div>
                </div>


              </div>
              <div class="accordion-item mt-1">
                <h2 class="accordion-header">
                  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo"
                    style="background-color: rgb(133, 184, 255);">
                    <h6><i class="fa fa-users me-2" aria-hidden="true"></i>Dự án 2</h6>
                  </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;">Board</a>
                  </div>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;">Highlights</a>
                  </div>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="/workspace" class="" style="text-decoration: none; color: black;">Views</a>
                  </div>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;">Member</a> <i
                      class="fas fa-plu"></i>

                  </div>
                </div>
                <div id="flush-collapseTwo" class="accordion-collapse collapse baseball-link"
                  data-bs-parent="#accordionFlushExample">
                  <div class="accordion-body">
                    <a href="" class="" style="text-decoration: none; color: black;">Setting</a>
                  </div>
                </div>

              </div>
            </div>
            </div>
            <!-- điểm giữa -->