<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h1 class="mb-4">Get User Info</h1>
    <form id="userInfoForm">
        <div class="mb-3">
            <label for="userId" class="form-label">User ID:</label>
            <input type="text" class="form-control" id="userId" name="userId" required>
        </div>
        <button type="submit" class="btn btn-primary">Get User Info</button>
    </form>

    <div class="mt-4">
        <pre id="userInfoResult"><code></code></pre>
    </div>
</div>

<!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
<script>
    document.getElementById("userInfoForm").addEventListener("submit", function(event) {
        event.preventDefault();
        const userId = document.getElementById("userId").value;

        fetch(`http://localhost:8080/lab2/getUserInfo/${userId}`)
            .then(response => response.json())
            .then(data => {
                const userInfoResult = document.getElementById("userInfoResult");
                userInfoResult.innerHTML = JSON.stringify(data, null, 2);
            })
            .catch(error => console.error('Error:', error));
    });
</script>
</body>
</html>