body {
    background-image: url('../img/5635038.jpg');
    margin: 0;
    padding: 0;
    /*background-image: url('your-image.jpg'); !* Replace with the path to your image *!*/
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover; /* Ensures the image covers the screen */
}


