@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {
    font-family: "Comfortaa", sans-serif;
}

/*body {*/
/*    !* background-image: linear-gradient(rgba(255,255,255,0.7),rgb(255, 255, 255,0.7)), url(/img/hex-colors-gradient-background.png); *!*/
/*    !* background-size: cover;*/
/*    background-position: top; *!*/
/*    background:linear-gradient(45deg, #ff9f1a, #70b500, #2ACCE5, #0079bf, #315989, #c377e0);*/
/*}*/
/*.login-card {*/
/*    background:linear-gradient(120deg, #185494, #EE1D23, #FAAF18, #FFFFFF);*/
/*}*/
.small-img {
    width: 36px;
    height: 36px;
}
.login-card {
    width: 450px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}
