@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
body {
    font-family: "Comfortaa", sans-serif;
}

.card {
    width: 450px;
    border: none;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.8);
}

.small-img {
    width: 36px;
    height: 36px;
}
.spinner-border {
  display: none;
  width: 1rem;
  height: 1rem;
  border: 0.2em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  animation: spinner-border 0.75s linear infinite;
}

@keyframes spinner-border {
  to {
    transform: rotate(360deg);
  }
}